body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background-color: #28a746f0;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0px 80px;
    font-weight: 0;
    position: sticky !important;
    top: 0;
    z-index: 99;
    overflow: hidden;
}

nav .links a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-size: 17;
    padding: 30px 10px;
}

nav .icon i {
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 5px 7px;
}

nav .icon {
    display: none;
}

nav .logo h1 {
    font-size: 25px;
}

nav .logo a {
    text-decoration: none;
    color: white;
}

nav .links a:hover {
    background-color: white;
    color: green;

}

nav .logo h1 {
    font-size: 25px;
}

.hero .bg-img {
    height: 150px;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    flex-direction: column;
    background-image: url(../images/hero-bg.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
}

.hero .overlay {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    /* position: absolute;
    top: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.hero .overlay h1 {
    color: white;
    font-size: 50px;
    margin: 0;
}

.building {
    margin: 75px;
    display: flex;
}

.building .left {
    width: 50%;
}

.building .left h3 {
    font-size: 30px;
}

.building .left p {
    font-size: 15px;
}

.building .left ol {
    font-size: 15px;
}

.building .right iframe {
    /* width: 50%; */
    object-fit: cover;
    height: 250px;
    margin-left: 15px;
    border-radius: 5px;
}

.second .high {
    display: flex;
    margin: 75px;
    margin-bottom: 0;
}

.second .high .text {
    width: 50%;
}

.second .high .text h3 {
    font-size: 27px;
}

.second .high .text p {
    font-size: 16px;
}

.second .high .image {
    width: 50%;
    margin-left: 20px;
    border: aliceblue solid 1px;
    border-radius: 5px;
    height: 363px;
    box-shadow: grey 0px 2px 2px 1px;
}

.second .high .image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border: white solid 4px; */
    border-radius: 5px;
}

.second .para {
    margin: 75px;
    margin-top: 0;
    margin-bottom: 0;
}

.second .impartial {
    margin: 75px;
    margin-top: 0;
}

.second .impartial h3 {
    font-size: 27px;
    margin: 0;
    margin-top: 15px;
}

.second .impartial p {
    font-size: 17px;
}

.last .secondary {
    display: flex;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 0;
}

.last .secondary .text {
    width: 50%;
}

.last .secondary .text h3 {
    font-size: 23px;
}

.last .secondary .text p {
    font-size: 17.5px;
}

.last .secondary .image {
    width: 50%;
    margin-left: 12px;
}

.last .secondary .image img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: white 2px solid;
}

.last .part {
    margin-left: 75px;
    margin-top: 0;
    font-size: 17.5px;
}

.last .data {
    margin-left: 75px;
    margin-right: 75px;
    font-size: 17px;
}
.gallery{
    padding: 70px;
}
.gallery h1 {
    text-align: center;
    font-size: 30px;
}
.gallery .frame {
    display: flex;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    /* margin: 0px 70px; */
    width: 100%;
    overflow: hidden;
}
.frame iframe{
    width: 100%;
    height: 230px;
}
 .frame .frame_div {
    width: 25%;
    padding: 20px;


}

footer {
    background-color: black;
    color: white;
}

footer .container {
    display: flex;
    margin: 82px;
    margin-bottom: 0;
}

footer .container .left {
    width: 40%;
    padding-right: 10px;
    padding-top: 15px;
}

footer .container .left h1 {
    font-size: 30px;
}

footer .container .left i {
    font-size: 20px;
    padding-left: 12px;
}
footer .container .left i:hover{
    color: #28a745;
    cursor: pointer;
}
footer .container .mid {
    width: 30%;
    padding-top: 15px;
}

footer .container .mid p:hover {
    color: #28a745;
    cursor: pointer;
}


footer .container .right {
    width: 30%;
    padding-top: 15px;
}

footer .container .right p:hover {
    color: #28a745;
    cursor: pointer;
}

@media(max-width:1084px) {
    nav .links {
        display: none;
    }

    nav .icon {
        display: block !important;
    }
}